<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<properties>
		<property name="log-path">E:/OfacEngine</property>
	</properties>

	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="LogToFile" append="true"
			fileName="${log-path}/app.log"
			filePattern="${log-path}/app-%d{yyyy-MM-dd}(%i).gz">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="3" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30">
				<Delete basePath="${log-path}/" maxDepth="1">
					<IfFileName glob="app-*.gz">
						<IfLastModified age="3d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="LogErrorToFile" append="true"
			fileName="${log-path}/error.log"
			filePattern="${log-path}/error-%d{yyyy-MM-dd}(%i).gz">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="7" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30">
				<Delete basePath="${log-path}/" maxDepth="1">
					<IfFileName glob="error-*.gz">
						<IfLastModified age="7d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="error" includeLocation="true">
			<AppenderRef ref="LogErrorToFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>

		<Logger name="org.springframework.boot" level="error"
			additivity="false">
			<AppenderRef ref="LogErrorToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="com.app.dao.OfacDao" level="debug"
			additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="com.app.utils" level="error" additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="com.app.utils" level="info" additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
	</Loggers>
</Configuration>